<project n="t2t" 
    xmlns="http://oracc.org/ns/xpd/1.0"
    xmlns:xpd="http://oracc.org/ns/xpd/1.0">
  <name>Tablet to Translation</name>
  <abbrev>T2T</abbrev>
  <project-type>user</project-type>
  <type>corpus</type>
  <logo type="text">PCCS</logo>
  <blurb>Tablet to Translation (T2T) is a new, gift-funded project aims to advance the state of the art in machine reading of original clay manuscripts written in Sumerian cuneiform and machine translation of Sumerian.  The initial phases of the project, funded with a generous three-year gift, will work on creating resources for machine translation (MT) as well as carrying out systematic testing and evaluation of modern MT approaches; another branch of our work will involve conservation, digitization, and sign-recognition experiments with the remaining unpublished Ur III administrative fragments currently held in the Penn Museum.</blurb>
  <option name="catalog-build-policy" value="auto"/>
  <option name="cbd-no-harvest" value="pccs epsd2 epsd2/names"/>
  <option name="cbd-oid" value="yes"/>
  <option name="cbd-use-psus" value="%sux:epsd2"/>
  <option name="cfy-key" value="cv01-150-middle-."/>
  <option name="build-approved-policy" value="atf"/>
  <option name="outline-default-select" value="false"/>
  <option name="outline-default-sort-fields" value="period,place"/>
  <option name="outline-default-sort-labels" value="period,place"/>
  <option name="outline-default-catalog-fields" value="designation,primary_edition,distribution"/>
  <option name="outline-default-catalog-widths" value="25,35,35"/>
  <option name="%sux" value="epsd2 epsd2/literary epsd2/names"/>
  <option name="%sux-x-emesal" value="epsd2/emesal"/>
  <option name="sum-alias" value="yes"/>
  <option name="fuzzy-alias" value="yes"/>
</project>
